body{
    font-family: Arial,Helvetica, sans-serif , 微軟正黑體;
}
header{
    width: 800px;
    height: 80px;
    background-color: #330000;
}
h1#text1{
    position: absolute;
    color: #FF0000;
    margin-top: 15PX;
    margin-left: 50PX;    
}
h1#text2{
    position: absolute;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 150px;
}
aside{
    width: 170px;
    height: 400px;
    background: url(image/bg_lt.png);
    float: left;
}
article{
    width: 625px;
    height: 400px;
    margin-left: 175px;
}

footer{
    width: 800px;
    height: 80px;
    background-color: #330000;
    color: #FFFFFF;
    text-align: center;
}

nav {
    margin-top: 170px;
}

nav ul {
    padding: 10px;
    list-style: none;
}

nav ul li a {
    display: block;
    width: 150px;
    height: 42px;
    background-image: url(image/btn.png);
    text-indent: 50px;
    line-height: 35px;
}

nav ul li a:hover {
    background-image: url(../image/btn_hover.png);
    color: white;
}
fieldset{
    border-radius: 10px;
}
img{
    width: 120px;
    margin: 5px;
    border-radius: 10px;
}
.consection{
    width: 400px;
    margin: 0px auto;
    padding: 20px;
}

fieldset legend{
    text-align: center;
}